<%- include('./header.ejs')  %>

<!----blog start-->
<section class="about-us">
    <div class="container">
        <h1 class="text-center" style="color: #386586;">ABOUT US</h1>
        <div class="row">
            <div class="col-md-8">
                <p style="color: rgb(129, 183, 183);">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                     Voluptates dignissimos eligendi labore repellat tempora 
                     aspernatur accusamus quas totam nihil debitis.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Vel quis perferendis laborum id ducimus commodi nostrum
                       facere natus blanditiis asperiores?</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                     Enim dolorum assumenda at delectus aperiam consequatur 
                     tempore natus excepturi ducimus mollitia! Lorem ipsum, 
                     dolor sit amet consectetur adipisicing elit. Fugiat 
                     quisquam repellat recusandae dolore est quibusdam, 
                     magnam iure! Ut, nobis voluptates.

                </p>
                <a href="" style="color: black
                ;">Read More</a>
            </div>
            <div class="col-md-4">
                <img src="image/1.jpg" height="300px">
            </div>
        </div>
    </div>
</section>
<!----blog end-->



<%- include('./footer.ejs')   %>