<!-----footer start-->
	
<div class="container-fluid" style="background:#001f50">
    <h1 class="text" style="padding-top: 3rem!important;">Thank you for reading!</h1>
    <p class="text">if you enjoyed this post, please feel free to share it.</p>
    <div class="container pb">
        <div class="row ms text-center">
            <div class="col-md-3 ms-1 social-icons a ">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                
                </a>
            </div>
            
            <div class="col-md-3 ms-1 social-icons a ">
                <a href="">
                    <i class="fab fa-twitter"></i>
                    
                </a>
            </div>
            <div class="col-md-3 ms-1 social-icons a ">
                <a href="">
                    <i class="fab fa-instagram"></i>
                    
                </a>
            </div>
            <div class="col-md-3 ms-1 social-icons a ">
                <a href=""><i class="fa solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
    

    

</div>
<div class="container-fluid text" style="background:#013f57eb">
    <div class="Copyright">
        <h6 style="padding-top:25px;padding-bottom:25px">Copyright © Designed by: Himanshu All right reserved.</h6>
    </div>
</div>


<!------FOOTER END-->

</body>
</html>